*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.container{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-areas:
    'foto1 foto3 foto5 foto5'
    'foto1 foto4 foto6 foto7'
    'foto2 foto4 foto8 foto8';
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
}
.foto{
    border-radius: 20px;
    /* width: 50px;
    height: 50px; */
}
.imagenes1{
    background-image:url(https://images.pexels.com/photos/7526314/pexels-photo-7526314.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto1; 
}

.imagenes2{
    background-image:url(https://images.pexels.com/photos/619882/pexels-photo-619882.jpeg?auto=compress&cs=tinysrgb&w=1600) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto2;     

}
.imagenes3{
    background-image:url("https://images.pexels.com/photos/14333513/pexels-photo-14333513.jpeg?auto=compress&cs=tinysrgb&w=1600") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto3; 

}
.imagenes4{
  background-image:url("https://images.pexels.com/photos/4464668/pexels-photo-4464668.jpeg?auto=compress&cs=tinysrgb&w=1600") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    grid-area: foto4; 
}
.imagenes5{
     background-image:url("https://images.pexels.com/photos/4148187/pexels-photo-4148187.jpeg?auto=compress&cs=tinysrgb&w=1600") ; 
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    grid-area: foto5; 

}
.imagenes6{
    background-image:url("https://images.pexels.com/photos/4350265/pexels-photo-4350265.jpeg?auto=compress&cs=tinysrgb&w=1600") ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto6; 

}
.imagenes7{
    background-image:url(https://images.pexels.com/photos/4124916/pexels-photo-4124916.jpeg?auto=compress&cs=tinysrgb&w=1600) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto7; 

}
.imagenes8{
    background-image:url("https://images.pexels.com/photos/7953208/pexels-photo-7953208.jpeg?auto=compress&cs=tinysrgb&w=1600") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto8; 

}

 


 